* {
    margin: 0;
    padding: 0;
}

body {
    background: #d6f8ff;
}

header {
    height: auto;
    background: cornflowerblue;
    padding: 10px;
}

.elementsContainer {
    width: 100%;
    min-height: 40px;
    height: auto;
    /* background: green; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

#projectsContainer {
    width: 100%;
    min-height: 40px;
    height: auto;
    /* background: yellow; */
}

.elementContainer {
    position: relative;
    width: 200px;
    height: auto;
    background: darkgray;
    margin: 10px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.elementImage {
    width: 200px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.elementText {
    text-align: center;
}

.deleteButton {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    opacity: 0.6;
    background-image: url('../images/deleteButtonIcon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.deleteButton:hover {
    opacity: 1;
}

.downloadButton {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    opacity: 0.6;
    background-image: url('../images/downloadButtonIcon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.downloadButton:hover {
    opacity: 1;
}

button {
    cursor: pointer;
    padding: 10px;
}

