* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background: #d6f8ff;
}

header {
    height: auto;
    background-color: cornflowerblue;
    padding: 10px;
}

#actionsContainer {
    position: absolute;
    left: 15vw;
    right: 15vw;
    top: 10vh;
    /* background-color: yellow; */
    width: 70vw;
    height: auto;
    background-color: #e6e8eb;
    padding: 30px;
}

#cardSelector {
    display: block;
    width: 30%;
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    color: black;
}

.contentInput {
    display: block;
    margin-bottom: 30px;
}

/* .contentInput:invalid {
    background-color: red;
} */

#submitButton {
    /* background-color: yellowgreen; */
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
    background-color: green;
    color: white;
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 10px;
}

