@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*  */
/* TODO zajac sie itemYear dla mniejszych szerokosci */
/*  */
:root {
	font-size: 16px;
}

body {
	font-size: 1.25rem;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* font-family: ivymode, sans-serif; */
	/* background-image: url("../images/earth.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
	/* background-color: #2B2B2B; */
	/* background-color: #ACACAC; */
	font-family: 'Ubuntu Mono';
}

main {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

#mainContainer {
	display: grid;
	padding: 5vw;
	max-width: 1400px;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-areas: 'header' 'meta' 'contentContainer';
	will-change: transform;
}

#mainHeader {
	grid-area: header;
	max-width: 50vw;
	margin: 0 0 1rem 0;
	font-size: 3rem;
	font-weight: 400;
}

#meta {
	grid-area: meta;
	line-height: 1.5;
}

#meta a {
	margin: 0 1.5rem 0 0;
}

a {
	text-decoration: none;
	outline: none;
}

#contentContainer {
	grid-area: contentContainer;
	margin: 20vh 0 10vh 0;
	width: 100vw;
	justify-self: center;
}

.contentItem {
	position: relative;
	width: 1000px;
	max-width: 90vw;
	margin-bottom: 30vh;
	display: grid;
	grid-template-columns: 20% 80%;
	will-change: transform;
}

.contentItem:nth-child(even) {
	grid-template-columns: 80% 20%;
	margin-left: auto;
}

.itemYear {
	opacity: 0.1;
	font-size: 15vw;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.contentItem:nth-child(even) .itemYear {
	right: auto;
	left: 0;
	transform: translate(-50%, -50%);
}

.imgWrap {
	position: relative;
	margin: 0 auto;
	grid-area: 1 / 1 / 3 / 3;
	overflow: hidden;
	width: 100%;
	padding-bottom: calc(100% / (32/17));
	will-change: transform;
	-webkit-box-shadow: 53px 43px 138px 10px rgba(0,0,0,0.69);
	-moz-box-shadow: 53px 43px 138px 10px rgba(0,0,0,0.69);
	box-shadow: 53px 43px 138px 10px rgba(0,0,0,0.69);
}

.itemImage {
	/* background-image: url("../images/panamera.jpg"); */
	height: calc(100% + 80px);
	top: -40px;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	will-change: transform;
	opacity: 0.8;
}

.itemTitle {
	position: relative;
	max-width: 50vw;
	padding: 0 3vw;
	align-self: start;
	line-height: 1;
	will-change: transform;
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
	font-size: 10vw;
	font-weight: 400;
}

.contentItem:nth-child(even) .itemTitle {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: end;
	width: auto;
}

.itemDescription {
	grid-area: 3 / 2 / 4 / 3;
	position: relative;
	width: 70%;
	margin: 0;
	padding: 1rem 0 0 0;
	justify-self: end;
}

.contentItem:nth-child(even) .itemDescription {
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
	width: auto;
}

@media screen and (min-width: 53em) {
	#mainContainer {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'header meta' '. meta' 'contentContainer contentContainer';
	}
}

@media screen and (max-width: 40em) {
	.itemTitle {
		grid-area: 3 / 1 / 4 / 3;
		max-width: 80vw;
	}

	.itemDescription, .contentItem:nth-child(even) .itemDescription {
		grid-area: 3 / 1 / 4 / 3;
		padding: 1rem;
		width: 100%;
		text-align: left;
	}

	.itemYear {
		transform: translate(10%, -50%);
	}

	.contentItem:nth-child(even) .itemYear {
		transform: translate(-10%, -50%);
	}
}

/* LOADER */
.centered{
	width: 100vw;
	height: 100vh;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#000;
	filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}








